mat-grid-tile {
    /*background: #b6b8c3;*/
    height: 200px !important;
  }
  .mat-grid-list{
      margin-top: 3%;
  }
  .example-card {
    max-width: 400px;
    padding: 0%;
    height: 90%;
      width: 80%;
  }
  .header{
      width: 100%;
      max-width: 100%;
      background-color: #283593;
  }
  .mat-card-image{
      height: 55%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
  .mat-card-header{
      background: #283593;
      color: white;
      max-height: 70px !important;
      height: 65px !important;
      width: 100%;
      max-width: 100%;
  }
  
  .mat-icon {
    font-size: 50px;
    }

.example-form{
    margin-top: 2%;
    margin-left: 30%;
}    
.example-full-width {
        width: 50%;
 }
 .searcher{
     margin-top: 2%;
     margin-bottom: 5%;
     margin-left: 30%;
     margin-right: 30%;
 }
 
 
 .input{
     position: center;
 }
 .mat-card-title{
     margin-top: 2%;
     margin-left: -17%;
     width: 100%;
     font-size: medium;
 }
 .mat-card-subtitle{
     color: white;
     font-size: small;
     margin-left: -17%;
     width: 100%;
 }
 .mat-card-content{
     margin-top: -5%;
     margin-left: 5%;
     margin-right: 5%;
     max-height: 30%;
     height: 30%;
     font-size: small;
     margin-bottom: 1%;
 }
 